.userdash{
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(100,150,100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.alt-userdash {
    width: 40% ;
    height: 3em;
    background-color: rgb(134, 153, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}
.user-btn{
    width: 20% ;
    height: 3em;
    background-color: rgb(6, 40, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    color: white;
    margin-right:  30px;
}